<div>
    <h2>Join the Team!</h2>
    <p>By participating in this project, you will not only gain valuable technical skills but also contribute to a safer and more secure digital world. </p>
    <p>Join us on this journey to uncover the hidden vulnerabilities of IoT devices and learn how to protect them from harm.</p>
    <iframe src="https://discord.com/widget?id=1067554684077883463&theme=dark" width="350" height="350" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    <iframe src="https://discord.com/widget?id=955583027973607515&theme=dark" width="350" height="350" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe></div>